<div class="container">
  <div class="row">
    <h3>Receitas</h3>
    <div class="column">
      <div class="receitas">
        <% @prescriptions.each do |prescription| %>
           
            <%= render prescription %>
           
          <% end %>
    </div>
  </div>
</div>