<div class="col-md-6">
    <form class="form-horizontal" method="post" action="" id="form1">
        <div class="form-group">
            <label class="control-label col-sm-4" for="listaMedic">Selecione:</label>
            <div class="col-sm-8">
                <select multiple id="listaMedic" name="listaMedic[]" size="10" class="form-control">
                <?php

                $local = (isset($_SESSION['local']) ? $_SESSION['local'] : NULL);

                $nome = (isset($_SESSION['nome']) ? $_SESSION['nome'] : NULL);

                $con=connect();
                
                $name = mysqli_query($con,"SELECT  `$nomeDaReceitaDB` FROM  $tabelaReceitas WHERE `$man`=$m 
                    AND (`$usuarioID` = $userID OR `$usuarioID` = 1)  ORDER BY `$nomeDaReceitaDB`") or die(mysqli_error($con));
                while ($name_row = mysqli_fetch_assoc($name)) {
                    
                    $selectItem = nl2br($name_row[$nomeDaReceitaDB]);
                
                    echo "<option value='".$selectItem."'>".$selectItem."</option>";
                } 
                
                ?>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4" for="nomeDoPaciente">Nome do paciente:</label>
            <div class="col-sm-8">
                                                
                <input type="text" class="form-control" id="nomeDoPaciente" size="30" name="nomeDoPaciente" value="<?php echo $nome; ?>"/>

            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4" for="endDoPaciente">Endereço:</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="endDoPaciente" size="100" name="endDoPaciente" >
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4" for="telsDoPaciente">Telefones:</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="telsDoPaciente" name="telsDoPaciente" size="30" >
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4" for="emailDoPaciente">Email:</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="emailDoPaciente" name="emailDoPaciente" >
            </div>
        </div>
        <div class="form-group">
            <label for="clinica" class="control-label col-sm-4">Clínica:</label>
            <div class="col-sm-8">
                <select id="nomeClinica" class="form-control" name="nomeClinica" size="5">
                <?php
                    $con=connect();

                    $query = "SELECT nosocomios.local
                                from nosocomios
                                INNER JOIN users_nosocomios
                                on users_nosocomios.nosocomio_id = nosocomios.id
                                INNER JOIN users
                                on users.user_id = users_nosocomios.usuario_id
                                where user_id=$userID
                                ORDER BY `$localDB`";
                   
                    $name = mysqli_query($con,$query) or die(mysqli_error($con));
                    while ($name_row = mysqli_fetch_assoc($name)) {
                        
                        $selectItem = nl2br($name_row[$localDB]);
                        $selectItem2= justTheName($selectItem);
            
                    if ($name_row['local'] == $local) {
                        echo "<option value='".$selectItem."' selected>".$selectItem2."</option>";
                    }
                    else {
                        echo "<option value='".$selectItem."'>".$selectItem2."</option>";
                    }
            } 
                
                ?>
            </div><!-- fecha controls select clinica-->
        </div><!-- fecha form-group select clinica-->
        <div class="form-group">
            
            <div class="col-sm-8">
                <input type="submit" id="enviarBtn" value="enviar" class="btn btn-success btn-lg" />
            </div>
        </div>
         
    </form>
</div>