# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 72e0d45c2bc930b22421eb755a3df9fd412c4f41d32ba3d8a3be6221df628a1b46a2e9a4a72733369448ef8b93a025def48086a7dbc251aaa4bf85bb7ce16dab

test:
  secret_key_base: 8835a9f44cc7e59a241e8f6cbfcb5173154311c8b5f77a20683946b3da8905eb84b07d4787c0c773b8444060fa1d1e305b6058b14edd2b29535535f7a3349d55

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
